@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

#wrapper{
    width: 100vw;
  
    /* margin-right: auto; */
   
    /* margin-left: auto; */
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;

}
.container{
   
  width: 90%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  margin: 0 5%;

}
.heading{
    font-size: 45px;
}
.discription{
    font-size: 25px;
}
.card-container{
    width: 90%;
    

}
.card-heading{
    font-size: 35px;
}
.card-box{
   
  text-align: center;
 
  display: flex;
 flex-wrap: wrap;
 
  align-items: center;
  justify-content: center;
  padding:30px 25px ;
  
 

}
.teamhead{
    font-size: 30px;
}
.card-content{
    width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
   margin: 10px;
}
.card-img-box{
    clip-path: circle(50% at 50% 50%);
    width: 130px;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  
}
.card-img{
    max-width: 100%;
    
}
.card-name{
    margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}
.designation{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;

}

@media only screen and (max-width: 550px){

    .teamhead{
        font-size: 5vw;
    }
}